
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar sesión</h5>
            <form 
            #dataForm="ngForm">
              <div class="form-floating mb-3">
                <input 
                type="email" 
                class="form-control"  
                name="email"  
                [(ngModel)]="addDataForm.email" 
                #email="ngModel" 
                id="floatingInput" 
                placeholder="name@example.com"
                required
                pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,3}$" 
                maxlength="255"
                >
                <label for="floatingInput">Dirección de correo electrónico</label>
                <div *ngIf="email.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!email?.errors?.['required']">
                    El correo electrónico es requerido
                  </div>
                  <div [hidden]="!email?.errors?.['touched'] && !email?.errors?.['pattern']">
                    El correo electrónico es invalido
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="password" 
                        class="form-control" 
                        name="password" 
                        [(ngModel)]="addDataForm.password" 
                        #password="ngModel" 
                        id="floatingPassword" 
                        placeholder="Password" 
                        required>
                <label for="floatingPassword">Contraseña</label>
                <div *ngIf="password.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!password?.errors?.['required']">
                    El correo electrónico es requerido
                  </div>
                </div>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" 
                name="remember" 
                [(ngModel)]="addDataForm.remember" 
                type="checkbox" 
                id="rememberPasswordCheck"
                maxlength="255">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Recordar contraseña
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="button" (click)="login(dataForm.form.valid)">Iniciar sesión</button>
              </div>
              <hr class="my-4">
              <div class="d-grid mb-2">
                <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                  <i class="fab fa-google me-2"></i> Inicia sesión con Google 
                </button>
              </div>
              <div class="d-grid">
                <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                  <i class="fab fa-facebook-f me-2"></i> Inicia sesión con Facebook 
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  