<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Detalle del cliente</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/clientes" class="btn btn-danger back"><i class='fas fa-arrow-circle-left'></i> &nbsp;Cancelar</a>
            </div>
          </div>
        </div>       
        <table class="table table-striped table-hover table-bordered table-content">
          <tbody>
            <tr>
              <td>
                <label><b>Nombre</b></label>
              </td>
              <td>
                <span>{{ clienteDetail.nombres }}</span>              
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Apellido</b></label>
              </td>
              <td>
                <span>{{ clienteDetail.apellidos }}</span>              
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Email</b></label>
              </td>
              <td>
                <span>{{ clienteDetail.email }}</span>              
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Direccion</b></label>
              </td>
              <td>
                <span>{{ clienteDetail.direccion }}</span>              
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Celular</b></label>
              </td>
              <td>
                <span>{{ clienteDetail.celular }}</span>              
              </td>
            </tr>
          </tbody>
        </table>       
      </div>
    </div>
  </div>
  
  